body {
    margin: 0;
    font-family: 'Inter' sans-serif;
    font-weight: 500;
    background-color: black;
}

#wrapper {
    margin: 0 auto;
    padding-top: 0.2rem;
    max-height: 550px;
    max-width: 550px;
    background-color: white;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 1rem;
}

#color-schema-select,
#input-color-picker,
#btn {
    border-radius: 5px;
    height: 2.8rem;
    border-color: #D1D5DB;
}

#input-color-picker{
    width: 6rem;
}

#color-schema-select {
    width: 100%;
    margin: 0 1rem;
    line-height: 1.5rem;
    font-size: 1.3rem;
}

#btn {
    width: 12rem;
    background-color: white;
    font-size: 0.8rem;
}

#color-container,
#named-color-container
{
    display: grid;
    grid-auto-flow: column;
}

.color{
    height: 20rem;
    font-size: 0;
}

.named-color{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: 0.8em;
    line-height: 1.5em;
    font-style: normal;
}